


    <body class="fondo">   
      <br><br><br><br><br>
    <div class="container opacity">
      <section id="login" class="mb-5 mt-5">
          <div id="a">
            <div class="col-xs-4 col-sm-4 col-md-4 mx-auto">
              <div class="card" id= "bordes">
                <div class="card_content">
                  <div class="card-body text-center">
                    <form #formLogin="ngForm" >
                      <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Ingrese sus datos</h1>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Rut" [(ngModel)]="usuario.user" name="txt_usr">
                        </div>               
                        <div class="form-group">
                          <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="usuario.psw" name="txt_psw">
                        </div>
                          <button type="submit" class="btn btn btn-info btn-block" (click)="onClickMe()">Aceptar</button>
                          <br>

                        
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div> 
      </section>
      </div>
      <br><br><br><br><br>
    </body>
    