P.mipar {text-align: left}
      body.fondo{
        background: url(src/assets/img/cl.png) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
      }      
      .opacity{
        background-color: rgba(255, 255, 255,0.6);  
        width: 100% !important;  
        margin: 0 !important;
        padding: 0 !important;
      }
      .container
      {
        max-width: 100%;
      }
      #a{
      height: 100%;
      width: 100%;   
      position: relative;
      overflow: hidden;
      }
      #bordes
      {
        border-radius: 40px ;
      }