 <!--<header>
<app-navbar></app-navbar>
</header>
<br>
<br>
<body >
<router-outlet></router-outlet>
</body>
<footer>

  Desarrollado por Departamento de Informática <br>
  Corporación de Beneficencia Osorno
</footer> -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<header>
	<div id="header"><app-navbar></app-navbar></div>
</header>
<body class="letra">


		
		
		<div id="main"><router-outlet></router-outlet></div>
	</body>
<footer>		
<div id="footer">Desarrollado por Departamento de Informática <br>
  Corporación de Beneficencia Osorno</div>
</footer>
</html>